.btn-round {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
}

.btn-round.btn-xl:hover {
  color: #fff;
  background-color: #00b3db;
  border-color: #285e8e; /*set the color you want here*/
}

.btn-round.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
  border: none;
  color: #fff;
  background: #2C98DE;
  outline:none;
}

.btn-round.btn-lg {
    width: 48px;
    height: 48px;
}

.btn-round.btn-sm {
    width: 34px;
    height: 34px;
}

.btn-round.btn-xs {
    width: 24px;
    height: 24px;
}

.row-margin-bottom {
    margin-top: 20px;
    margin-bottom: 20px;
}
