{% extends "framework.html" %}
{% set active_page = "artirain" %}
{% set title="Bewaesserung" %}

{% block scripts %}
  <!-- table example from https://datatables.net/examples/styling/bootstrap.html -->
  <script type="text/javascript" language="javascript" src="https://www.sprymedia.co.uk/dataTables-1.4/media/examples_support/jquery.jeditable.js"></script>
  <script type='text/javascript'>
    // https://www.sprymedia.co.uk/dataTables-1.4/example_editable.html
    var editor; // use a global for the submit and return data rendering in the examples
    var table3;
 
    $(document).ready(function(){
      $('#table1').DataTable({"order": [[ 0, "desc" ]], "scrollX":true, responsive: true });
      $('#table2').DataTable({"order": [[ 0, "desc" ]], "scrollX":true, "searching":false, "searching":false, "paging":false, "ordering":false, "info":false});
      $('#table4').DataTable({"order": [[ 0, "desc" ]], "scrollX":true, "searching":false});

      var columns=[ {% for col in columnsT3 %} { "name":"{{col["field"]}}"}, {% endfor %} ]
      table3=$('#table3').dataTable({ "columns": columns, "order": [[ 0, "desc" ]], "scrollX":true, "searching":false, "paging":false, "ordering":false, "info":false} );
      //$('#table3 tbody td').editable( function( sValue ) {
      $('.editable').editable( function( sValue ) {
	// https://datatables.net/upgrade/1.10-convert
        // https://appelsiini.net/projects/jeditable/
	/* Get the position of the current data from the node */
	var aPos  = table3.fnGetPosition( this )[2];
	var svalue= table3.fnGetData(aPos);
	var aDate = table3.fnGetData(0,0,0);
	var sTitle= table3.fnSettings().aoColumns[aPos].sTitle
	var sName = table3.fnSettings().aoColumns[aPos].sName

	//        console.log("sTitle:"+sTitle);
	//        console.log("sName:"+sName);
	//        console.log("aPos:"+aPos);
	//        console.log("aDate:"+aDate);

	//      url = "/rainStoreResult?"+ "pos="+aPos+"&value="+sValue+"&sTitle="+sTitle+"&sName="+sName;
	url = "/rainStoreResult?"+ "DATE="+aDate+"&KEY="+sName+"&VALUE="+sValue+"&TITLE="+sTitle;+"&sName="+sName;

	$.post(url, function(data){
	  return data
  	});

	return sValue;
      }, { "onblur": 'submit' } ); /* Submit the form when bluring a field */

      }
    );
  </script>
  {% endblock %}


{% block maincontent %}
<div class="row">
  <div class="col-lg-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title"><b>{{table3name}}</b></h3>
      </div>
      <div class="panel-body">
	<table id="table3" class="table table-responsive table-striped table-bordered table-hover" cellspacing="10" width="100%">
          <thead align="center">
            <!-- table header -->
            <tr>
              {% for col in columnsT3 %}
              <th>{{col["title"]}}</th>
              {% endfor %}
            </tr>
          </thead>
          <!-- table body -->
          <tbody >
            {% if table3|length == 0 %}
	    <tr><td></td></tr>
            {% else %}
            {% for row in table3 %}
            <tr>
              {% for col in columnsT3 %}
	      <td{% if col["editable"] %} class="editable"{% endif %}>{{row[col["field"]]}}</td>
              {% endfor %}
            </tr>
            {% endfor %}
            {% endif%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title"><b>{{table4name}}</b></h3>
      </div>
      <div class="panel-body">
	<table id="table4" class="table table-responsive table-striped table-bordered table-hover" cellspacing="10" width="100%">
          <thead align="center">
            <!-- table header -->
            <tr>
              {% for col in columnsT4 %}
              <th>{{col["title"]}}</th>
              {% endfor %}
            </tr>
          </thead>
          <!-- table body -->
          <tbody >
            {% if table4|length == 0 %}
	    <tr><td></td></tr>
            {% else %}
            {% for row in table4 %}
            <tr>
              {% for col in columnsT4 %}
              <td>{{ row[col["field"]] }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
            {% endif%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title"><b>{{table1name}}</b></h3>
      </div>
      <div class="panel-body">
	<table id="table1" class="table table-responsive table-striped table-bordered table-hover" cellspacing="10" width="100%">
          <thead align="center">
            <!-- table header -->
            <tr>
              {% for col in columnsT1 %}
              <th>{{col["title"]}}</th>
              {% endfor %}
            </tr>
          </thead>
          <!-- table body -->
          <tbody >
            {% if table1|length == 0 %}
	    <tr><td></td></tr>
            {% else %}
            {% for row in table1 %}
            <tr>
              {% for col in columnsT1 %}
              <td>{{row[col["field"]]}}</td>
              {% endfor %}
            </tr>
            {% endfor %}
            {% endif%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
	      <h3 class="panel-title"><b>{{table2name}}</b></h3>
      </div>
      <div class="panel-body">
	<table id="table2" class="table table-bordered table-striped" cellspacing="0" width="100%">
	  <thead align="center">
	    <!-- table header -->
	    <tr>
	      {% for col in columnsT2 %}
	      <th>{{col["field"]}}</th>
	      {% endfor %}
	    </tr>
	  </thead>
	  <!-- table body -->
	  <tbody>
	    {% if table2|length == 0 %}
	    <tr></tr>
	    {% else %}
	    {% for row in table2 %}
	    <tr>
	      {% for col in columnsT2 %}
	      <td>{{row[col["field"]]}}</td>
	      {% endfor %}
	    </tr>
	    {% endfor %}
	    {% endif%}
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>

{% endblock %}


