{% extends "framework.html" %}
{% set active_page = "Buttons" %}
{% set title="Buttons" %}

{% block scripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">

$(document).ready(function() {
  var socket = io.connect('http://' + document.domain + ':' + location.port);

  $(':checkbox').iphoneStyle({
    onChange: function(elem, val) {
      elemName=elem[0].name;
      if (val) {
        var message = 'ON';
      } else {
        var message = 'OFF';
      }
      var topic = 'action/button/'+elemName;
      var data = '{"topic": "' + topic + '", "message": "' + message + '"}';
      socket.emit('publish', data=data);
    }
  });

  socket.on('connect', function () {
    socket.on('mqtt_message', function (msg) {
      console.log(msg.topic+' '+msg.payload);
      console.log("connect")
      if (msg.payload == "OFF") {
        console.log("Turning button2 off")
        if ($('input[name=button2]').is(':checked')) {
          $('input[name=button2]').prop('checked',false).change();
        }
      }
      if (msg.payload == "ON") {
        console.log("Turning button2 on")
        if (!$('input[name=button2]').is(':checked')) {
          $('input[name=button2]').prop('checked',true).change();
        }
      }
    });
    socket.emit('subscribe',{topic:'action/buttons/#'});
  })

  socket.on('mqtt_message', function(data) {
    console.log(data);
    var text = data['topic'] + ' : ' + data['payload'];
    var $textarea = $('#subscribe_messages');
    $textarea.val($textarea.val() + text + '\n');
  })
});
  </script>


  <script src="/static/js/jquery-3.1.1.min.js"></script>
  <script src="/static/js/iphone-style-checkboxes.js"></script>
  <link rel="stylesheet" href="/static/css/iphone-style-checkboxes.css">
{% endblock %}


{% block maincontent %}
<div class="row">
  <div class="col-lg-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">Subscribe MQTT Messages</h3>
      </div>
      <div class="panel-body">
        <table>
          <tr height="50"><td class="col-lg-2">Button 1: </td><td class="col-lg-2"> <input name='button1' checked='checked' class='normal' type='checkbox' /> </td></tr>
          <tr height="50"><td class="col-lg-2">Button 2: </td><td class="col-lg-2"> <input name='button2' checked='checked' class='normal' type='checkbox' /> </td></tr>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
