{% extends "framework.html" %}
{% set active_page = "dashboard" %}
{% set title="Dashboard" %}

{% block scripts %}
  <!-- table example from https://datatables.net/examples/styling/bootstrap.html -->
  <script type='text/javascript'>
    $(document).ready(function(){
      $('#table1').DataTable({"order": [[ 0, "desc" ]], "scrollX":true, responsive: true, "pageLength": 20 });
    } );
    if ( $.browser.webkit ) {
      setTimeout( function () {
        oTable.fnAdjustColumnSizing();
      }, 10 );
    }
  </script>
  <script>
$(document).ready(function () {
    $('.material-button1-toggle').on("click", function () {
        $(this).toggleClass('open');
        $('.option').toggleClass('scale-on');
    });
    $('.material-button-toggle').on("click", function () {
        $(this).toggleClass('open');
        $('.option').toggleClass('scale-on');
    });
});
   </script>
{% endblock %}


{% block maincontent %}
<div class="row">
  <div class="col-lg-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title"><b>{{table1name}}</b></h3>
      </div>
      <div class="panel-body">
	<table id="table1" class="table table-responsive table-striped table-bordered table-hover" cellspacing="10" width="100%">
	  <thead align="center">
	    <!-- table header -->
	    <tr>
	      {% for col in columnsT1 %}
	      <th>{{col["title"]}}</th>
	      {% endfor %}
	    </tr>
	  </thead>
	  <!-- table body -->
	  <tbody >
	    {% if table1|length == 0 %}
	    <tr><td></td></tr>
	    {% else %}
	    {% for row in table1 %}
	    <tr>
	      {% for col in columnsT1 %}
	      <td>{{row[col["field"]]}}</td>
	      {% endfor %}
	    </tr>
	    {% endfor %}
	    {% endif%}
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
