{% extends "framework.html" %}
{% set active_page = "hifi" %}
{% set title="Hifi" %}

{% block scripts %}
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    var topic = "action/pioneer/";
    $(document).ready(function() { 
      $('#POWER,#VOLUP,#VOLDOWN,#TUNER,#SAT,#FIRE,#BLUETOOTH,#IPOD,#MUTE').on('click', function(event) {
        event.preventDefault(); // To prevent following the link (optional)
        var message = '{ "TS": "2018-01-11 17:25:02", "SOURCE":"iot-bootstrap", "TARGET":"PIONEER", "ACTION":"'+$(this).attr('id')+'"}';
	message=message.replace(/\"/g, '\\\"');
	var mytopic = topic+$(this).attr('id');
	var data = '{"topic": "' + mytopic + '", "message": "' + message + '"}';

//	alert(data);
	socket.emit('publish', data=data);
      })
    });
  </script>
{% endblock %}


{% block maincontent %}
  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <div class="panel panel-default">
	<div class="panel-heading">
	  <h3 class="panel-title"><b>{{table1name}}</b></h3>
	</div>
	<div class="panel-body">
	  <div class="row">
	    <div class="col-lg-3 col-xs-3">
	      <a href="#"><button type="button" id="POWER" class="btn btn-block btn-default btn-lg btn-danger"><span class="glyphicon glyphicon-off"></span></button></a>
	    </div>
	    <div class="col-lg-3 col-xs-3">
	      <a href="#"><button type="button" id="VOLUP" class="btn btn-block btn-default btn-lg"><span class="glyphicon glyphicon-plus"></span></button></a>
	    </div>
	    <div class="col-lg-3 col-xs-3">
	      <a href="#"><button type="button" id="VOLDOWN" class="btn btn-block btn-default btn-lg"><span class="glyphicon glyphicon-minus"></span></button></a>
	    </div>
	    <div class="col-lg-3 col-xs-3">
	      <a href="#"><button type="button" id="MUTE" class="btn btn-block btn-default btn-lg"><span style="font-size: 12pt">MUTE</span></button></a>
	    </div>
	  </div>
	  <hr>
	  <div class="row" >
	    <div class="col-lg-3 col-xs-3" style="margin-bottom: 15px ">
	      <a href="#"><button type="button" id="TUNER" class="btn btn-block btn-default btn-lg"><span style="font-size: 12pt">Tuner</span></button></a>
	    </div>
	    <div class="col-lg-3 col-xs-3">
	      <a href="#"><button type="button" id="SAT" class="btn btn-block btn-default btn-lg"><span style="font-size: 12pt">SAT</span></button></a>
	    </div>
	    <div class="col-lg-3 col-xs-3">
	      <a href="#"><button type="button" id="FIRE" class="btn btn-block btn-default btn-lg"><span style="font-size: 12pt">Fire</span></button></a>
	    </div>
	    <div class="col-lg-3 col-xs-3">
	      <a href="#"><button type="button" id="IPOD" class="btn btn-block btn-default btn-lg"><span style="font-size: 12pt">IPOD</span></button></a>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-lg-3 col-xs-3">
	      <a href="#"><button type="button" id="BLUETOOTH" class="btn btn-block btn-default btn-lg"><span style="font-size: 12pt">Blue</span></button></a>
	    </div>
	    <div class="col-lg-3 col-xs-3">
	      <a href="#"><button type="button" id="test" class="btn btn-block btn-default btn-lg"><span style="font-size: 12pt">SAT</span></button></a>
	    </div>
	    <div class="col-lg-3 col-xs-3">
	      <a href="#"><button type="button" id="test" class="btn btn-block btn-default btn-lg"><span style="font-size: 12pt">Fire</span></button></a>
	    </div>
	    <div class="col-lg-3 col-xs-3">
	      <a href="http://google.de"><button type="button" id="test" class="btn btn-block btn-default btn-lg"><span style="font-size: 12pt">IPOD</span></button></a>
	    </div>
	  </div>
	  <hr>
	  <div class="row">
	    <div class="col-lg-3 col-xs-3 center-block">
	      <a href="http://google.de"><button type="button" id="test" class="btn btn-block btn-default btn-lg"><span style="font-size: 14pt">Z2Foll</span></button></a>
	    </div>
	    <div class="col-lg-3 col-xs-3">
	      <a href="http://google.de"><button type="button" id="test" class="btn btn-block btn-default btn-lg"><span class="glyphicon glyphicon-music"></span></button></a>
	    </div>
	    <div class="col-lg-3 col-xs-3">
	      <a href="http://google.de"><button type="button" id="test" class="btn btn-block btn-default btn-lg"><span class="glyphicon glyphicon-music"></span></button></a>
	    </div>
	    <div class="col-lg-3 col-xs-3">
	      <a href="http://google.de"><button type="button" id="test" class="btn btn-block btn-default btn-lg"><span class="glyphicon glyphicon-music"></span></button></a>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <!--
  <link rel="stylesheet" href="/static/css/buttons.css">
  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <div class="panel panel-default">
	<div class="panel-heading">
	  <h3 class="panel-title"><b>{{table1name}}</b></h3>
	</div>
	<div class="panel-body">
	  <div class="row row-margin-bottom">
	    <div class="col-lg-3 col-xs-3">
	      <a href="http://google.de"><button type="button" id="pio-off" class="btn btn-default btn-xl btn-round center-block"><span class="glyphicon glyphicon-off"></span></button></a>
	    </div>
	    <div class="col-lg-3 col-xs-3">
	      <a href="http://google.de"><button type="button" id="test" class="btn btn-default btn-xl btn-round center-block"><span class="glyphicon glyphicon-plus"></span></button></a>
	    </div>
	    <div class="col-lg-3 col-xs-3">
	      <a href="http://google.de"><button type="button" id="test" class="btn btn-default btn-xl btn-round center-block"><span class="glyphicon glyphicon-minus"></span></button></a>
	    </div>
	    <div class="col-lg-3 col-xs-3">
	    </div>
	  </div>
	  <div class="row row-margin-bottom">
	    <div class="col-lg-3 col-xs-3 center-block">
	      <a href="http://google.de"><button type="button" id="test" class="btn btn-default btn-xl btn-round center-block"><span style="font-size: 14pt">Tuner</span></button></a>
	    </div>
	    <div class="col-lg-3 col-xs-3">
	      <a href="http://google.de"><button type="button" id="test" class="btn btn-default btn-xl btn-round center-block"><span style="font-size: 14pt">SAT</span></button></a>
	    </div>
	    <div class="col-lg-3 col-xs-3">
	      <a href="http://google.de"><button type="button" id="test" class="btn btn-default btn-xl btn-round center-block"><span style="font-size: 14pt">Fire</span></button></a>
	    </div>
	    <div class="col-lg-3 col-xs-3">
	      <a href="http://google.de"><button type="button" id="test" class="btn btn-default btn-xl btn-round center-block"><span style="font-size: 14pt">IPOD</span></button></a>
	    </div>
	  </div>
	  <div class="row row-margin-bottom">
	  </div>
	  <div class="row row-margin-bottom">
	  </div>
	  <div class="row row-margin-bottom">
	    <div class="col-lg-3 col-xs-3 center-block">
	      <a href="http://google.de"><button type="button" id="test" class="btn btn-default btn-xl btn-round center-block"><span style="font-size: 14pt">Z2Foll</span></button></a>
	    </div>
	    <div class="col-lg-3 col-xs-3">
	      <a href="http://google.de"><button type="button" id="test" class="btn btn-default btn-xl btn-round center-block"><span class="glyphicon glyphicon-music"></span></button></a>
	    </div>
	    <div class="col-lg-3 col-xs-3">
	      <a href="http://google.de"><button type="button" id="test" class="btn btn-default btn-xl btn-round center-block"><span class="glyphicon glyphicon-music"></span></button></a>
	    </div>
	    <div class="col-lg-3 col-xs-3">
	      <a href="http://google.de"><button type="button" id="test" class="btn btn-default btn-xl btn-round center-block"><span class="glyphicon glyphicon-music"></span></button></a>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
  -->
  {% endblock %}

