<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->

      <!-- sidebar menu: : style can be found in sidebar.less -->
        {% set active_page = active_page|default('dashboard') -%}
        <ul class="sidebar-menu" data-widget="tree">
	  <li class="header">MAIN NAVIGATION</li>

	    <li class="treeview-menu"> 
	      <li class="{% if "dashboard"== active_page %}active menu-open{% else %}{% endif %}"><a href="/"><i class="fa active fa-dashboard"></i><span>dashboard</span></a></li>
	    </li>

	    <li class="treeview-menu">
	      <li class="{% if "artirain"== active_page %}active menu-open{% else %}{% endif %}"><a href="/artirain"><i class="fa fa-edit"></i><span>Bewässerung</span></a></li>
	    </li>

	    <li class="treeview-menu">
	      <li class="{% if "presence"== active_page %}active menu-open{% else %}{% endif %}"><a href="/presence"><i class="fa fa-folder-o"></i><span>Presence</span></a></li>
	    </li>

	    <li class="treeview-menu">
	      <li class="{% if "alarm"== active_page %}active menu-open{% else %}{% endif %}"><a href="/alarm"><i class="fa fa-folder-o"></i><span>Alarm</span></a></li>
	    </li>

	    <li class="treeview-menu">
	      <li class="{% if "buttons"== active_page %}active menu-open{% else %}{% endif %}"><a href="/buttons"><i class="fa fa-folder-o"></i><span>Buttons</span></a></li>
	    </li>

	    <li class="treeview-menu">
	      <li class="{% if "temperature"== active_page %}active menu-open{% else %}{% endif %}"><a href="/temperature"><i class="fa fa-pie-chart"></i><span>Temperatur</span></a></li>
	    </li>

	    <li class="treeview-menu">
	      <li class="{% if "oel"== active_page %}active menu-open{% else %}{% endif %}"><a href="/oel"><i class="fa fa-pie-chart"></i><span>Heizoel</span></a></li>
	    </li>

	    <li class="treeview-menu">
	      <li class="{% if "mqtt"== active_page %}active menu-open{% else %}{% endif %}"><a href="/mqtt"><i class="fa fa-cloud"></i><span>MQTT</span></a></li>
	    </li>

          <li class="treeview-menu">
	    <li class="{% if "hifi"== active_page %}active menu-open{% else %}{% endif %}"><a href="/hifi"><i class="fa fa-table"></i><span>Hifi</span></a></li>
        </li>
        
          <li class="treeview-menu">
	    <li class="{% if "links"== active_page %}active menu-open{% else %}{% endif %}"><a href="/links"><i class="fa fa-files-o"></i><span>Links</span></a></li>
        </li>
        
	<li class="{% if "adminlte"== active_page %}treeview active {% else %}treeview{% endif %}">
          <a href="/newframework"> <i class="fa fa-th"></i> <span>AdminLTE</span>
            <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span>
          </a>
          <ul class="treeview-menu">
            <li class=><a href="https://adminlte.io/themes/AdminLTE/index2.html"><i class="fa fa-circle-o"></i>Official AdminLTE</a></li>
          </ul>
        </li>
	
        <li class="treeview-menu">
	    <li class="{% if "login"== active_page %}active menu-open{% else %}{% endif %}"><a href="/logout"><i class="fa fa-laptop"></i><span>Logout</span></a></li>
        </li>
        <!-- END: sidebar menu: : style can be found in sidebar.less -->
<!--
        <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
        <li class="header">LABELS</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
-->
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>


