{% extends "framework.html" %}
{% set active_page = "mqtt" %}
{% set title="MQTT" %}

{% block scripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  var socket = io.connect('http://' + document.domain + ':' + location.port);

  $('#publish').click(function(event) {
    var topic = $('#topic').val()
    var message = $('#message').val()
    var data = '{"topic": "' + topic + '", "message": "' + message + '"}';
    alert(data);
    socket.emit('publish', data=data);
  });

  $('#subscribe').click(function(event) {
    var topic = $('#subscribe_topic').val()
      var data = '{"topic": "' + topic + '"}'
      socket.emit('subscribe', data=data);
    $('#subscribe').hide();
    $('#unsubscribe').show();
    $('#subscribe_topic').prop('readonly', true);
  });

  $('#unsubscribe').click(function(event) {
    socket.emit('unsubscribe_all');
    $('#subscribe_topic').val('');
    $('#subscribe').show();
    $('#unsubscribe').hide();
    $('#subscribe_topic').prop('readonly', false);
  });

  $('#info').click(function(event) {
    socket.emit('unsubscribe_all');
    var topic="sensor/info/#";
    var data = '{"topic":"'+topic+'"}';
    socket.emit('subscribe', data=data);
    $('#subscribe_topic').val(topic);
    $('#subscribe').hide();
    $('#unsubscribe').show();
    $('#subscribe_topic').prop('readonly', true);
  });

  $('#temperature').click(function(event) {
    socket.emit('unsubscribe_all');
    var topic="sensor/temperature/+";
    var data = '{"topic":"'+topic+'"}';
    socket.emit('subscribe', data=data);
    $('#subscribe_topic').val(topic);
    $('#subscribe').hide();
    $('#unsubscribe').show();
    $('#subscribe_topic').prop('readonly', true);
  });

  $('#presence').click(function(event) {
    socket.emit('unsubscribe_all');
    var topic="sensor/presence/+";
    var data = '{"topic":"'+topic+'"}';
    socket.emit('subscribe', data=data);
    $('#subscribe_topic').val(topic);
    $('#subscribe').hide();
    $('#unsubscribe').show();
    $('#subscribe_topic').prop('readonly', true);
  });

  $('#water').click(function(event) {
    socket.emit('unsubscribe_all');
    var topic="sensor/waterflow/+";
    var data = '{"topic":"'+topic+'"}';
    socket.emit('subscribe', data=data);
    $('#subscribe_topic').val(topic);
    $('#subscribe').hide();
    $('#unsubscribe').show();
    $('#subscribe_topic').prop('readonly', true);
  });

  $('#action').click(function(event) {
    socket.emit('unsubscribe_all');
    var topic="action/#";
    var data = '{"topic":"'+topic+'"}';
    socket.emit('subscribe', data=data);
    $('#subscribe_topic').val(topic);
    $('#subscribe').hide();
    $('#unsubscribe').show();
    $('#subscribe_topic').prop('readonly', true);
  });

  $('#all').click(function(event) {
    socket.emit('unsubscribe_all');
    var topic="#";
    var data = '{"topic":"'+topic+'"}';
    socket.emit('subscribe', data=data);
    $('#subscribe_topic').val(topic);
    $('#subscribe').hide();
    $('#unsubscribe').show();
    $('#subscribe_topic').prop('readonly', true);
  });

  $('#oel').click(function(event) {
    socket.emit('unsubscribe_all');
    var topic="sensor/oel/#";
    var data = '{"topic":"'+topic+'"}';
    socket.emit('subscribe', data=data);
    $('#subscribe_topic').val(topic);
    $('#subscribe').hide();
    $('#unsubscribe').show();
    $('#subscribe_topic').prop('readonly', true);
  });

  $('#reed').click(function(event) {
    socket.emit('unsubscribe_all');
    var topic="sensor/reed/#";
    var data = '{"topic":"'+topic+'"}';
    socket.emit('subscribe', data=data);
    $('#subscribe_topic').val(topic);
    $('#subscribe').hide();
    $('#unsubscribe').show();
    $('#subscribe_topic').prop('readonly', true);
  });

  $('#motion').click(function(event) {
    socket.emit('unsubscribe_all');
    var topic="sensor/motion/+";
    var data = '{"topic":"'+topic+'"}';
    socket.emit('subscribe', data=data);
    $('#subscribe_topic').val(topic);
    $('#subscribe').hide();
    $('#unsubscribe').show();
    $('#subscribe_topic').prop('readonly', true);
  });

  $('#clear').click(function(event) {
    var topic="sensor/presence/+";
    $('#subscribe_messages').val("");
  });

  socket.on('mqtt_message', function(data) {
    console.log(data);
    var text = data['topic'] + ' : ' + data['payload'];
    var $textarea = $('#subscribe_messages');
    $textarea.val($textarea.val() + text + '\n');
  })
});
</script>
{% endblock %}


{% block maincontent %}
<div class="row">
  <div class="col-lg-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">Subscribe MQTT Messages</h3>
      </div>
      <div class="panel-body">
	<div class="form-group">
	  <label class="control-label col-xs-4">Topic:</label>
	  <input id="subscribe_topic" class="form-control">
	</div>
	<div>
	  <button id="subscribe" class="btn btn-primary">Subscribe</button>
	  <button id="unsubscribe" class="btn btn-default" style="display: none;" >Unsubscribe</button>
	  <button id="clear" class="btn btn-primary">Clear messages</button>
	  <button id="all" class="btn btn-primary">#</button>
	  <button id="temperature" class="btn btn-primary">sensor/temperature/+</button>
	  <button id="presence" class="btn btn-primary">sensor/presence/+</button>
	  <button id="motion" class="btn btn-primary">sensor/motion/+</button>
	  <button id="water" class="btn btn-primary">sensor/waterflow/+</button>
	  <button id="info" class="btn btn-primary">sensor/info/#</button>
	  <button id="oel" class="btn btn-primary">sensor/oel/#</button>
	  <button id="reed" class="btn btn-primary">sensor/reed/#</button>
	  <button id="action" class="btn btn-primary">action/#</button>
	</div>
	<div>
	  <label class="control-label col-xs-4">Messages:</label>
	  <textarea id="subscribe_messages" class="form-control" rows=10></textarea>
	</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">Publish MQTT Message</h3>
      </div>
      <div class="panel-body">
	<div class="col-xs-12">
	  <div class="row">
	    <div class="form-horizontal">
	      <div class="form-group">
		<label class="control-label col-xs-4">Topic: </label>
		<div class="col-xs-8">
		  <input id="topic" class="form-control">
		</div>
	      </div>
	      <div class="form-group">
		<label class="control-label col-xs-4">Message: </label>
		<div class="col-xs-8">
		  <input id="message" class="form-control">
		</div>
	      </div>
	      <div class="form-group">
		<div class="col-xs-8 col-xs-offset-4">
		  <button id="publish" class="btn btn-primary">Publish</button>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}

