{% extends "framework.html" %}
{% set active_page = "oel" %}
{% set title="Heizoel" %}

{% block scripts %}
  <script src="/static/js/raphael-2.1.4.min.js"></script>
  <script src="/static/js/justgage-1.2.2.js"></script>

  <!-- Plugins For This Page -->
  <!--[if lt IE 9]><script type="text/javascript" src="assets/excanvas.compiled.js"></script><![endif]-->
  <!--<link rel="stylesheet" href="https://getbootstrapadmin.com/remark/material/global/vendor/gauge-js/gauge.min.css">-->
  <script src="/static/js/gauge.js"></script>

  <!-- Temp Chart -->
  <script type="text/javascript">
  $(function () {
    // Create the chart
    Highcharts.setOptions({
      global : {
        useUTC : false
      }
    });
    $('#chart-container1').highcharts('StockChart', {
          rangeSelector : { selected : 0 },
          yAxis: { title: { text: 'T (C)' } },
          xAxis: { type: 'datetime', dateTimeLabelFormats: { hour: '%H. %M', }},

          navigator: { enabled: true },
 
	  legend: { enabled: true, layout: 'horizontal', maxHeight: 100 },

          plotOptions: { column: { pointPadding: 0.2, borderWidth: 0.5 } },
          scrollbar: { enabled: true, },
          title : { text : 'Oelvorrat (l)' },
          
          scrollbar: { enabled: true, },

          series : [{
 	    name : '{{data1name}}',
	    data : {{data1|safe}},
            type : 'spline',
            tooltip: { valueDecimals: 1 }
          }]
    });
    $('#chart-container2').highcharts('StockChart', {
          rangeSelector : { selected : 0 },
          yAxis: { title: { text: 'T (C)' } },
          xAxis: { type: 'datetime', dateTimeLabelFormats: { hour: '%H. %M', }},

          navigator: { enabled: true },
 
	  legend: { enabled: true, layout: 'horizontal', maxHeight: 100 },

          plotOptions: { column: { pointPadding: 0.2, borderWidth: 0.5 } },
          scrollbar: { enabled: true, },
          title : { text : 'Verbrauch (l/d)' },
          
          scrollbar: { enabled: true, },

          series : [{
            name : '{{data2name}}',
            data : {{data2|safe}},
            type : 'spline',
            tooltip: { valueDecimals: 1 }
	  },{
            name : '{{data3name}}',
            data : {{data3|safe}},
            type : 'spline',
            tooltip: { valueDecimals: 1 }
          }]
    });
  });
  </script>
{% endblock %}


{% block maincontent %}
<div class="row">
  <div class="col-lg-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><b>{{table1name}}</b></h3>
      </div>
      <div class="panel-body">
        <table id="table1" class="table table-responsive table-striped table-bordered table-hover" cellspacing="10" width="100%">
          <thead align="center">
            <!-- table header -->
            <tr>
              {% for col in columnsT1 %}
              <th>{{col["title"]}}</th>
              {% endfor %}
            </tr>
          </thead>
          <!-- table body -->
          <tbody >
            {% if table1|length == 0 %}
            <tr><td></td></tr>
            {% else %}
            {% for row in table1 %}
            <tr>
              {% for col in columnsT1 %}
              <td>{{row[col["field"]]}}</td>
              {% endfor %}
            </tr>
            {% endfor %}
            {% endif%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
	<!--
          <script src="{{ url_for('static', filename='jquery-1.8.3.min.js') }}"></script>
          <script src="{{ url_for('static', filename='js/highstock.js') }}"></script> 
          <script src="{{ url_for('static', filename='js/highcharts-more.js') }}"></script>
          <script src="{{ url_for('static', filename='js/exporting.js') }}"></script>
        -->
         <script src="/static/js/jquery-3.1.1.min.js"></script>
	 <script src="/static/js/highstock.js"></script>
	 <script src="/static/js/exporting.js"></script>
	 <div id="chart-container1" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
	 <div id="chart-container2" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
