{% extends "framework.html" %}
{% set active_page = "presence" %}
{% set title="Presence" %}

{% block scripts %}
  <!-- table example from https://datatables.net/examples/styling/bootstrap.html -->
  <script type='text/javascript'>
    $(document).ready(function(){
      $('#table1').DataTable({"order": [[ 0, "desc" ]], "scrollX":true, responsive: true});
    } );
  </script>

  <!--  <script src="/static/js/functions.js"></script> -->


  <script type="text/javascript">
  $(function () {
    // Create the chart
    Highcharts.setOptions({
      global : {
        useUTC : false
      }
    });
    $('#chart-container').highcharts('StockChart', {
          rangeSelector : { selected : 0 },
          yAxis: { title: { text: 'T (C)' } },
          xAxis: { type: 'datetime', dateTimeLabelFormats: { hour: '%H. %M', }},

          navigator: { enabled: true },

          legend: { enabled: true, layout: 'horizontal', maxHeight: 100 },

          plotOptions: { column: { pointPadding: 0.2, borderWidth: 0.5 } },
          scrollbar: { enabled: true, },
//          title : { text : 'Präsenzen..' },

          scrollbar: { enabled: true, },

          series : [{
            name : '{{data1name}}',
            data : {{data1|safe}},
            type : 'spline',
            },{
            name : '{{data2name}}',
            data : {{data2|safe}},
            type : 'spline',
            },{
            name : '{{data3name}}',
            data : {{data3|safe}},
	    type : 'spline',
          }]
    });
  });
  </script>
{% endblock %}


{% block maincontent %}
  <!-- table -->
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <div class="panel panel-default">
	<div class="panel-heading">
	  <h3 class="panel-title"><b>{{table1name}}</b></h3>
	</div>
	<div class="panel-body">
          <script src="/static/js/jquery-3.1.1.min.js"></script>
          <script src="/static/js/highstock.js"></script>
          <script src="/static/js/exporting.js"></script>
          <div id="chart-container" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
	</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <div class="panel panel-default">
	<div class="panel-heading">
	  <h3 class="panel-title"><b>{{table1name}}</b></h3>
	</div>
	<div class="panel-body">
	  <table id="table1" class="table table-responsive table-striped table-bordered table-hover" cellspacing="10" width="100%">
	    <thead align="center">
	      <!-- table header -->
	    <tr>
	      {% for col in columnsT1 %}
	      <th>{{col["title"]}}</th>
	      {% endfor %}
	    </tr>
	    </thead>
	    <!-- table body -->
	    <tbody>
	      {% if table1|length == 0 %}
	      <tr></tr>
	      {% else %}
	      {% for row in table1%}
	      <tr>
		{% for col in columnsT1 %}
		<td>{{row[col["field"]]}}</td>
		{% endfor %}
	      </tr>
	      {% endfor %}
	      {% endif%}
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
  </div>
{% endblock %}
