{% extends "framework.html" %}
{% set active_page = "temperature" %}
{% set title="Temperatur" %}

{% block scripts %}
  <script src="/static/js/raphael-2.1.4.min.js"></script>
  <script src="/static/js/justgage-1.2.2.js"></script>

  <!-- Plugins For This Page -->
  <!--[if lt IE 9]><script type="text/javascript" src="assets/excanvas.compiled.js"></script><![endif]-->
  <!--<link rel="stylesheet" href="https://getbootstrapadmin.com/remark/material/global/vendor/gauge-js/gauge.min.css">-->
  <script src="/static/js/gauge.js"></script>

  <!-- Temp Chart -->
  <script type="text/javascript">
  $(function () {
    // Create the chart
    Highcharts.setOptions({
      global : {
        useUTC : false
      }
    });
    $('#chart-container').highcharts('StockChart', {
          rangeSelector : { selected : 0 },
          yAxis: { title: { text: 'T (C)' } },
          xAxis: { type: 'datetime', dateTimeLabelFormats: { hour: '%H. %M', }},

          navigator: { enabled: true },
 
	  legend: { enabled: true, layout: 'horizontal', maxHeight: 100 },

          plotOptions: { column: { pointPadding: 0.2, borderWidth: 0.5 } },
          scrollbar: { enabled: true, },
          title : { text : 'Temperaturen' },
          
          scrollbar: { enabled: true, },

          series : [{
 	    name : '{{data1name}}',
	    data : {{data1|safe}},
            type : 'spline',
            tooltip: { valueDecimals: 1 }
	  },{
            name : '{{data2name}}',
	    data : {{data2|safe}},
            type : 'spline',
            tooltip: { valueDecimals: 1 }
          },{
            name : '{{data3name}}',
	    data : {{data3|safe}},
            type : 'spline',
            tooltip: { valueDecimals: 1 }
          }]
    });
  });
  </script>
{% endblock %}


{% block maincontent %}
<div class="row">
  <div class="col-lg-4 col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title"><b>Garten (°)<b></h3>
      </div>
      <div class="panel-body">
	<div id="gaugeGarten" class="200x160px"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title"><b>Wetter.com (°)<b></h3>
      </div>
      <div class="panel-body">
	<div id="gaugeWetterCom" class="200x160px"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title"><b>Garten (mqtt)<b></h3>
      </div>
      <div class="panel-body">
	<div id="gaugeGarten2" class="200x160px"></div>
    	<script type="text/javascript" src="/static/js/socket.io.min.js"></script> 
        <script>
          var myColors = [ "#0b9dd7", "#0bd71f", "#d70b0b" ];
	  var g1 = new JustGage({
	    id: "gaugeGarten",
	    value: {{tempGarten|safe}},
	    decimals: true,
	    min: -10,
	    levelColors : myColors,
	    max: 50,
	    title: "Garten (db)"
	  });

          var myColors = [ "#0b9dd7", "#0bd71f", "#d70b0b" ];
	  var g2 = new JustGage({
	    id: "gaugeWetterCom",
	    value: {{tempWetterCom|safe}},
	    decimals: true,
	    min: -10,
	    levelColors : myColors,
	    max: 50,
	    title: "Wetter.com (db+mqtt)"
	  });

          var myColors = [ "#0b9dd7", "#0bd71f", "#d70b0b" ];
	  var g3 = new JustGage({
	    id: "gaugeGarten2",
	    value: "",
	    decimals: true,
	    min: -10,
	    levelColors : myColors,
	    max: 50,
	    title: "Garten (mqtt)"
	  });

          $(document).ready(function() {
	    var socket = io.connect('http://' + document.domain + ':' + location.port);
	    socket.on('connect', function() {
	      socket.emit('my event', {data: 'I\'m connected!'});
	    });
	    socket.on('tempGarten', function(msg) {
	      var json = JSON.parse(msg.data);
	      g1.refresh(json["VALUE"]);
	      g3.refresh(json["VALUE"]);
	      document.getElementById('textGarten').innerHTML=json["VALUE"];
//	      $('#textGarten').value(json["VALUE"]);
	    });
	    socket.on('tempWetterCom', function(msg) {
	      var json = JSON.parse(msg.data);
	      g2.refresh(json["VALUE"]);
	      document.getElementById('textWetterCom').innerHTML=json["VALUE"];
	    });
	  });
	</script>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title"><b>Live mqtt data</b></h3>
      </div>
      <div class="panel-body">
	Garten:<span id="textGarten"></span><br>
	Wetter.com:<span id="textWetterCom"></span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title"><b>Gauge 1<b></h3>
      </div>
      <div class="panel-body">
	<!--
          <script src="{{ url_for('static', filename='jquery-1.8.3.min.js') }}"></script>
          <script src="{{ url_for('static', filename='js/highstock.js') }}"></script> 
          <script src="{{ url_for('static', filename='js/highcharts-more.js') }}"></script>
          <script src="{{ url_for('static', filename='js/exporting.js') }}"></script>
        -->
         <script src="/static/js/jquery-3.1.1.min.js"></script>
	 <script src="/static/js/highstock.js"></script>
	 <script src="/static/js/exporting.js"></script>
	 <div id="chart-container" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
